@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@300&display=swap');

/* Basic styling */
* {
    margin-left: auto;
    margin-right: auto;
}

header {
    background: rgb(255, 250, 241);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100;
    opacity: 0.9;
}

body {
    margin: 0 1px;
    padding: 0;
    
    background-color: #fffaf1;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
    color: #54655A;
}

h3, p {
    font-family: 'Roboto', sans-serif;
    color: #54655A;
    letter-spacing: 2px;
}

.container {
    width: 100%;
    height: 750px;
    margin: 0 auto;
    text-align: center;
}

.container h2 {
    margin-top: 10px;
    
    font-size: 250%;

    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-align: center;
}

.container-1 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 1100px;
}

.container-1 h2 {
    margin-top: 10px;
    
    font-size: 250%;

    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-align: center;
}

.container-2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 1000px;
}

.container-2 h2 {
    margin-top: 10px;
    
    font-size: 250%;

    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-align: center;
}

hr {
    width: 100%;
    margin: 0;
    border: none;
}

/* Logo and menu */
#logo {
    float: left;
    margin: 10px 10px 10px 30px;

    font-size: 400%;
    font-weight: bold;

    letter-spacing: 4px;
    text-transform: uppercase;
}

#menu {
    float: right;
    margin: 30px;

    font-size: 200%;
    font-weight: bold;

    letter-spacing: 2px;
    text-transform: uppercase;
}

#menu li {
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    color: #54655A;
}

#menu a:hover {
    color: #80BA4D;
}

/* Main image and cover text */
#main-image-container {
    width: 100%;
    height: 420px;
    margin: 0;
    margin-top: 100px;

    overflow: hidden;
    opacity: 0.8;

    background: url(../images/hello.jpeg) no-repeat center center;
    background-size: cover;
}

#cover-text {
    width: 50%;
    height: 100px;

    margin: 30px;
    margin-top: 150px;

    text-align: left;

    font-size: 250%;
    font-family:'Amatic SC', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#cover-text p {
    margin: 0;

    font-size: 100%;
    font-family: 'Amatic SC', cursive;
    color: #fffaf1;
}

/* About section, text and image */
#about-image-left {
    margin-top: 80px;
    margin-left: 10px;
    width: 48%;
    float: left;
}

#about-image-left img {
    width: 100%;
    aspect-ratio: 1;

    opacity: 0.8;
    border-radius: 50%;

    float: left;
}

#about-right {
    margin-top: 130px;
    margin-right: 100px;
    width: 40%;
    float: right;

    text-align: left;
    line-height: 2;
}

#about-right h2 {
    font-size: 250%;
    margin: 0;

    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-align: center;
}

/* Activities section and iframe videos  */
.activities {
    width: 100%;
}

#video-left {
    width: 39%;
    height: 320px;
    margin: 30px auto 90px 90px;
    
    clear: both;
    float: left;
}

#video-right {
    width: 39%;
    height: 320px;
    margin: 30px 90px 90px auto;

    clear: both;
    
    float: right;

}

#summer, #winter {
    width: 40%;
    margin: 30px 90px 90px auto;
    float: right;
    text-align: left;
    
    line-height: 2;
}

#summer, #winter h3 {
    letter-spacing: 2px;
}

/* Dining section and iframe instagram */
.restaurants {
    width: 26%;
    display: inline-block;
    text-align: center;
}

.restaurants img {
    width: 300px;
    height: 500px;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid #54655A;
}

.restaurants h3 {
    letter-spacing: 2px;
}

.restaurants p {
    width: 80%;
    line-height: 2;
    margin: 0 auto;
}

/* Signup forms and social media links */
.container-3 {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    text-align: center;
    width: 100%;
}

.container-3 h2 {
    margin-top: 10px;
    
    font-size: 250%;

    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
}

.container-3 p {
    margin: 30px auto 50px auto;
}

#form-section {
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 300px;
}

.space {
    width: 100%;
    margin: 10px;
    border: none;
}

.form-label {
    display: block;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.form-input {
    width: 50%;
    padding: 5px;
}

#button {
    width: 30%;
    height: 50px;
    text-transform: uppercase;
    border-radius: 25px 25px;
    color: #fffaf1;
    background-color: #54655A;
}

#button:hover {
    background-color: #80BA4D;
}

/* Social media links */
footer {
    width: 100%;
    text-align: center;
    opacity: 0.8;
}

.links {
    display: inline-block;
    font-size: 300%;
    margin: 0 40px 40px 40px;
}

/* Media queries */
@media screen and (max-width: 420px) {
    body {
        margin: 2px;
        text-align: center;
    }

    header {
        width: 100%;
        height: auto;
        position: absolute;
    }

    #logo {
        width: 100%;
        margin: 0 auto;
        display: none;
        text-align: center;
        font-size: 2.8rem;
    }

    #menu {
        font-size: 15px;
        margin: 0 auto;
        padding: 0;

        display: flex;
    }

    #menu li {
        padding: 5px;
        display: flex;
    }

    #main-image-container {
        margin: 0;
        height: 20vh;
    }

    #cover-text {
        margin: 30px;
        font-size: 3vh;
    }

    #about {
        width: 100%;
        height: auto;
    }

    #about-image-left img {
        width: 50vh;
        height: 50vh;
    }

    #about-right {
        margin: 0;
        width: 100%;
        text-align: left;
        font-size: 2vh;
    }

    #activities-1 {
        width: 100%;
        height: auto;
        border: 0;
    }

    #activities-1 iframe {
        width: 100%;
        height: 20%;
        margin: 0;
        border: 0;
    }

    #summer, #winter {
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 2vh;
    }

    #dining {
        width: 100%;
        height: auto;
    }

    #dining h2 {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .restaurants {
        width: 100%;
    }

    .rest-text {
        width: 100%;
        height: auto;
        margin: 0;

        font-size: 2vh;
        text-align: center;
    }

    #signup {
        width: 100%;
        height: auto;
        margin-top: 1500px;
    }

    #form-section {
        width: 100%;
        height: auto;
    }

    #gap {
        padding-bottom: 0;
    }

    footer ul {
        width: 100%;
        text-align: center;
    }
}